{% load static wagtailcore_tags wagtailimages_tags wagtailuserbar blogapp_tags el_pagination_tags wagtailmd %}

<!DOCTYPE html>


  <head>

    <meta charset="utf-8">


    <title>{% block title %}{{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}{% endblock title %}</title>
    <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>

    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>
<link rel="shortcut icon" href='{% static "AppGF/favicon.ico" %}'>
  



{% include "head_css.html" %}
{% include "head_css_blog.html" %}


  </head>

  <body>
{% include "navbar.html" %}

<!-- Page Content -->
<div class="container">
  <div class="row">
        {% block maincontent %}
            <div class="col-md-8">
                {% block content %}

                {% endblock %}
            </div>
            {% include 'blog/components/sidebar.html' %}
        {% endblock %}
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% include "./footer.html" %}

    <!-- jQuery -->
    <script src="{% static 'blog/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39890589-7"></script>

    <script type="text/javascript">
    if (document.location.hostname.search("wagtail.michaelyin.info") !== -1) {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-39890589-7');
    }
    </script>

  </body>

</html>
{% include "javascripts.html" %}
