{% extends 'base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
	
<style>
{% block style %}

body {
	background-color: black!important;
}	
	
{% endblock %}
</style>

{% block content %}
<body>

{% if request.user.is_authenticated %}
{% if request.user == captura.usuario.user %}
<br>
<div class="container ">
           <div class="center wow fadeInDown">
                <h2>¿Borrar la captura seleccionada?</h2>
           </div>
<form method="post">{% csrf_token %}<br><br>
    <p>Estás seguro/a de eliminar la captura del dia "{{ object }}, de {{ object.pescado }}"?</p><br><br><br><br>
    <input type="submit" value="Confirmar"></div>
<br><br><br><br>
  </form>

 </div>
{% else %}
<br><br><br><br><br><br>
<center>Esta captura no te pertence, los he visto mas listos.</center>
<br><br><br><br><br><br><br><br><br><br><br><br>
 </div>
{% endif %}
{% endif %}
{% endblock %}
