{% extends 'base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}

<style>
{% block style %}

body {
	background-color: #black!important;
}	
	
{% endblock %}
</style>



{% block content %}
<body>
	
   <section id="main-slider" class="no-margin">
        <div class="carousel slide">

            <div class="carousel-inner">

                <div class="item active" style="background-image: url(../static/AppGF/images/caleta2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"><font color="black">Bienvenido a Gadifishing.</font></h1>
                                    <h2 class="animation animated-item-2">La aplicación para realizar las mejores capturas en la costa gaditana.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Conócenos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->           
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->


</body>
</html>
{% endblock %}








