{% load i18n %}
{% load static %}
{% load currency_filters %}
{% load category_tags %}

<head>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->

<!-- font-awesome icons -->
<link href="{% static 'tienda/css/font-awesome.css' %}" rel="stylesheet"> 

<!-- header -->
	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><br><i class="fa fa-phone" aria-hidden="true"> Información: 123456789</i></li>
					
				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<center><img class="img-responsive" src="{% static 'tienda/images/lapescaletalogo.jpg' %}"></center>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'tienda/js/bootstrap.min.js' %}"></script>
</head>
