{% extends 'base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
	
<style>
{% block style %}

body {
	background-color: black!important;
}
.myboton {
  padding: 8px 20px !important;
  background: #c52d2f !important;
  color: #fff !important;
  border-radius: 4px !important;
  margin-top: 25px !important;
  display: inline-block !important;
}	
	
{% endblock %}
</style>

{% block content %}
<body>


 <br><br><br><br>



<center>  <h2>Desconectado</h2>
  <p>Has sido desconectado satisfactoriamente.</p><br><br>
  <p><a href="{% url 'login' %}">Acceder</a> de nuevo.</p>
  <p><a href="{% url 'home' %}">Volver</a> a la pagina principal.</p></center>
  
<br><br><br><br><br>
  
</body>
</html>
{% endblock %}
